# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Streamlit
.streamlit/secrets.toml

# Database
*.db

# VS Code
.vscode/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db